block extrajavascripts
    script(type='text/javascript').
        $(document).ready(function($){
            $("div.container > div.content").attr("id", "content")
        });

    script(type='text/javascript', src='http://www.eea.europa.eu/register_function.js')
    script(type='text/javascript', src='http://www.eea.europa.eu/nodeutilities.js')
    script(type='text/javascript', src='http://www.eea.europa.eu/mark_special_links.js')

block extrastyles
    link(rel="stylesheet", href="css/aide.facetview.css")

mixin tr_th_td(item, link_item)
    if(item && item.value)
        tr
            th= item.label
            if(link_item)
                td
                    +ext_link(item, link_item.value)
            else
                td
                    span(class="simple-value")= item.value

mixin tr_th_td_assMURI(item, link_item)
    if(item && item.value)
        tr
            th= item.label
            if(link_item)
                td
                    +ext_link_assMURI(item, link_item.value)
            else
                td
                    span(class="simple-value")= item.value

mixin ext_link_assMURI(item, url)
    a(href= "http://cr.eionet.europa.eu/factsheet.action?uri=nodeID://" +url  title="go to source details" class="detail_extlink")= item.value

mixin ext_link(item, url)
    a(href= "http://cr.eionet.europa.eu/factsheet.action?uri=" +url  title="go to source details" class="detail_extlink")= item.value

block title
    if (data)
        title= "Measurement " + data._shorttitle.value
    else
        title= "Missing MEasurement"

block content
    if (data)
        div(id="portal-breadcrumbs")
            span(id="breadcrumbs-you-are-here") You are here: 
            span(id="breadcrumbs-home")
                a(href="http://www.eea.europa.eu/") Home
                span(class="breadcrumbSeparator")  / 
            span(id="breadcrumbs-1")
                a(href="./") Air Immissions Data Explorer
                span(class="breadcrumbSeparator")  / 
            span(id="breadcrumbs-2")
                span(class="breadcrumbs-current")= data._shorttitle.value

        h1
            span= "Measurement " + data._shorttitle.value

        table(class="item_detail_table datatable")
            colgroup
                col(style="width: 25%")
                col(style="width: 75%")
            +tr_th_td_assMURI(data._shorttitle, data._id)
            +tr_th_td(data.country)
            +tr_th_td(data.namespace)
            +tr_th_td(data.reportingyear)
            +tr_th_td(data.networkid)
            +tr_th_td(data.networkname)
            +tr_th_td(data.stationid)
            +tr_th_td(data.eustationcode)
            +tr_th_td(data.stationname)
            +tr_th_td(data.samplingpointid)
            +tr_th_td(data.usedforaqd)
            +tr_th_td(data.aggregationtype)
            +tr_th_td(data.reportingmetric)
            +tr_th_td(data.pollutant)
            +tr_th_td(data.aqvalue)
            +tr_th_td(data.exceedancethreshold)
            +tr_th_td(data.unit)
            +tr_th_td(data.datacapture)
            +tr_th_td(data.verificationflag)
            +tr_th_td(data.stationtype)
            +tr_th_td(data.stationarea)
            +tr_th_td(data.stationlatitude)
            +tr_th_td(data.stationlongitude)
            +tr_th_td(data.zone)
            +tr_th_td(data.zonelabel)
            +tr_th_td(data.zonetype)
            +tr_th_td(data.zoneadjustmentused)
            +tr_th_td(data.zonedeclaredexceedance)

    else
        div(class = "portalMessage errorMessage")
            span= "AIDE with ID: "
            b= aideid 
            span= " does not exist"

    div(class="visualization-info")
        h3 Data sources
        a(href="http://www.eea.europa.eu/data-and-maps/data/aqereporting") AQ e-Reporting
        span  provided by 
        a(href="http://www.eea.europa.eu") European Environment Agency (EEA)
